name: Deploy Dev

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types: [ closed ]
  workflow_dispatch:

env:
  ECR: 636334651895.dkr.ecr.eu-central-1.amazonaws.com/polkapad-polkapad-app
  ROLE: "arn:aws:iam::636334651895:role/github-ecr-polkapad-polkapad-app"

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # required to use OIDC authentication
      contents: read # required to checkout the code from the repo
    steps:
      - uses: actions/checkout@v3

      - name: AWS cli install action
        uses: chrislennon/action-aws-cli@1.1

      - name: Expose git commit data
        uses: rlespinasse/git-commit-data-action@v1
        #if: ${{ github.event_name == 'push' }}

      - name: Set env
        run: |
          echo "TAG=${ECR}:${{ env.GIT_COMMIT_SHORT_SHA }}" >> $GITHUB_ENV

      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm ci

      - name: Docker build
        run: >
          docker build -t $TAG
          --build-arg NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=${{ secrets.GOOGLE_ANALYTICS_ID_DEV }}
          --build-arg SECRET_COOKIE_PASSWORD=${{ secrets.DEV_SECRET_COOKIE_PASSWORD }}
          --build-arg SERVICE_URL=${{ secrets.SERVICE_URL_DEV }}
          -f .github/workflows/Dockerfile .

      - name: Push to ECR and Argo
        uses: ./.github/actions/argo-push
        with:
          aws-role: ${{ env.ROLE }}
          aws-ecr-uri: ${{ env.ECR }}
          ssh-key: ${{ secrets.ARGOCD_REPO_SSH }}
          environment: dev
          project: polkapad_app
          image: ${{ env.TAG }}


